
/* Import website font */
@import url('https://stockfont.org/?8cda42869f3be483afe7bb6ec5a60b380d392a4ba18fcca04cba6299745fbe8c');

#reset {
	color: white;
	text-shadow: 2px 2px 2px #000;
	position: absolute;
	font-size: 1.4em;
	margin-left: auto;
	margin-right: auto;
	width: 20vw;
	background-color: #ccc;
	z-index: 1000;
	text-align: center;
	left: 50%;
	margin-left: -10vw;
	top: 50%;
	margin-top: -1em;
	font-family: 'Anton';
	cursor: pointer;
	border-radius: 20px;
	box-shadow: 4px 4px 4px #000;
	display: block;
}

#reset:hover {
	border: grey 4px solid;
}

#scoreBoardButton {
	color: white;
	text-shadow: 2px 2px 2px #000;
	position: absolute;
	font-size: 1.4em;
	margin-left: auto;
	margin-right: auto;
	width: 20vw;
	background-color: #ccc;
	z-index: 1000;
	text-align: center;
	left: 50%;
	margin-left: -10vw;
	top: 65%;
	margin-top: -1em;
	font-family: 'Anton';
	cursor: pointer;
	border-radius: 20px;
	box-shadow: 4px 4px 4px #000;
	display: block;
}

#scoreBoardButton:hover {
	border: grey 4px solid;
}

/*#scoreBoard {
	color: white;
	text-shadow: 2px 2px 2px #000;
	position: absolute;
	font-size: 1.4em;
	margin-left: auto;
	margin-right: auto;
	width: 20vw;
	background-color: #ccc;
	z-index: 1000;
	text-align: center;
	left: 50%;
	margin-left: -10vw;
	top: 65%;
	margin-top: -1em;
	font-family: 'Anton';
	box-shadow: 4px 4px 4px #000;
	display: none;
}*/

#gameover {
	color: white;
	text-shadow: 2px 2px 2px #000;
	position: absolute;
	font-size: 2em;
	width: 1000px;
	background-color: #ccc;
	text-align: center;
	left: 17%;
	margin-top: 5em;
	font-family: 'Anton';
	box-shadow: 4px 4px 4px #000;
	display: block;
	height: auto;
}

#score {
	color: white;
	text-shadow: 2px 2px 2px #000;
	position: absolute;
	font-size: 1.4em;
	width: 200px;
	background-color: #ccc;
	left: 1em;
	margin-top: 1em;
	padding-left: 1em;
	font-family: 'Anton';
	box-shadow: 4px 4px 4px #000;
	display: block;
	height: auto;
}

#score p:nth-child(1) {
	float: left;
}

#score p:nth-child(2) {
	float: right;
	margin-right: 2em;
	font-size: 1.2em;
}

#submitScore {
	color: white;
	text-shadow: 2px 2px 2px #000;
	display: grid;
	position: absolute;
	font-size: 2em;
	width: 800px;
	padding-left: 4em;
	padding-right: 4em;
	padding-bottom: 1em;
	background-color: #ccc;
	text-align: center;
	left: 17%;
	margin-top: 5em;
	font-family: 'Anton';
	cursor: pointer;
	box-shadow: 4px 4px 4px #000;
	opacity: 0;
	height: auto;
}

#submit {
	color: white;
	text-shadow: 2px 2px 2px #000;
	background-color: #ccc;
	box-shadow: 4px 4px 4px #000;
	font-family: 'Anton';
	font-size: 0.8em;
	margin-top: 0.5em;
	margin-left: 4em;
	margin-right: 4em;
	cursor: pointer;
}

#submit:hover {
	border: grey 4px solid;
}
